*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 30px;
    text-align: center;
    background: #000000;
    color: rgb(136, 228, 234);
    font-size: 30px;
    margin-bottom: 20px;
    
  }

  #contact {
    padding: 10px;           /* Space inside the section */
    margin: 15px 0;         /* Space outside the section */
    border: 1px solid #ccc;  /* Light gray border */
}

#contact h2 {
    font-size: 20px;        /* Font size for the header */
}:

#contact p {
    font-size: 18px;   /* Font size for the paragraph */
    line-height:1.6;

}



body {
    color: white;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    

}

.info {
    width: 100%;
    padding-right: 60%;
    box-sizing: border-box;

}

img {
    width: 40%;
    border-radius: 20px;
    margin-bottom: 20px auto;
    display:block;
}
